[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Résultat de recherche d'images pour "fond bleu png"
Type=Link
URL=https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=2ahUKEwiDtq6pseDfAhVPhxoKHQgWBy8QjRx6BAgBEAU&url=https%3A%2F%2Fpixabay.com%2Ffr%2Fimage-bleue-bleu-fond-bleu-1285095%2F&psig=AOvVaw3MpCdtZ3dOc4pdM2GPhDsS&ust=1547112495294677
Icon=text-html
